@font-face {
  font-family: Prime;
  src: url('../fonts/prime.otf');
}

h1, h2, h3, h4, h5, h6 {
  font-family: Prime, sans-serif;
  text-shadow: 1px 1px black;
}

body {
  height: 100%;
  font-family: 'Droid Sans Mono', 'Courier New', monospace;
  background-image: url(/static/images/hearts_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffb6c1;
  font-size: 14px;
  color: white;
}

ul {
  list-style-type: none;
}

.container {
  overflow: hidden;
}

.center {
  margin: auto;
  width: 80%;
  text-align: center;
}

#photo {
  display: none;
  position: absolute;
  left: 20%;
}

.error {
  color: darkred;
}

.circle-image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.circle-image-head {
  position: absolute;
  left: 25px;
  top: -175px;
}

.anime-torso {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 240px;
  height: 400px;
  margin-top: 160px;
}

.anime-girl {
  background-image: url(/static/images/anime_girl_torso.png);
}

.anime-guy {
  background-image: url(/static/images/anime_guy_torso.png);
}

#affection {
  position: absolute;
  right: 20px;
  margin-top: -60px;
  width: 20%;
  height: 30px;
  border: 1px solid black;
  background-color: gray;
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

#bar {
  width: 0%;
  height: 30px;
  position: absolute;
  background-color: pink;
  background-image: url(/static/images/pink_sparkles.jpg);
}

.heart {
  position: absolute;
  right: -30px;
  top: -10px;
  height: 50px;
  width: 50px;
}

#dialogue-box {
  margin: auto;
  margin-top: 30%;
  position: relative;
  padding: 20px;
  max-width: 700px;
  min-height: 100px;

  border-style: groove;
  border-color: #ff3399;
  border-width: 30px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
}

#name-box {
  position: absolute;
  margin-top: -60px;
  height: 40px;
  max-width: 200px;
  padding: 0 20px;

  color: white;
  opacity: 1;
}

.transparent-box {
  background-color: #000;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.dark-box {
  background-color: #000;
  border: 1px solid black;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.black-box {
  margin: auto;
  padding: 20px;
  width: 500px;
  border: 1px solid black;
  color: black;
}

#dialogue-box li {
  font-style: italic;
}

#dialogue-box li:hover {
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.1em;
}

#friends {
  margin-top: 10px;
}

#friends li {
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 25%;
}

#friends li img {
  border-radius: 30px;
  min-width: 60px;
  min-height: 60px;
}
