{% extends "base.html" %}
{% block content %}
<div class="center">
    <div class="header">
      <h1>Kawaii Tomodachi-desu</h1>
      <h3>Real Friends Dating Sim</h3>
    </div>

    <p class='circle-image'
       style="background-image: url(https://graph.facebook.com/{{ user['id'] }}/picture?type=large);
              margin-left: auto; margin-right: auto;">
    </p>
    <h3>Hello, {{ user['name'] }}.</h3>
    <h4></h4>

    <div class="black-box">
      <p>Your dating sim can be found at:</p>
      <pre>{{root_url}}date/{{ user['id'] }}</pre>
      <p>Share it with your friends!</p>

      <a href="/logout" id="logout">Log out</a>
    </div>

    <script>
        document.getElementById('logout').onclick = function() {
            FB.logout(function(response) { });
        };
    </script>
</div>
{% endblock %}
