{% extends "base.html" %}
{% block content %}
<div class="center">
    <div class="header">
      <h1>Kawaii Tomodachi-desu</h1>
      <h3>Real Friends Dating Sim</h3>
    </div>

    <p class='circle-image'
       style="background-image: url(https://graph.facebook.com/{{ user['id'] }}/picture?type=large);
              margin-left: auto; margin-right: auto;">
    </p>
    <h3>Hello, {{ user['name'] }}.</h3>
    <h4></h4>

    <div class="black-box">
      <p>Your dating sim can be found at:</p>
      <pre>{{root_url}}date/{{ user['id'] }}</pre>

      <p>Share it with your friends!</p>
      <div class="fb-share-button" data-href="{{root_url}}date/{{ user['id'] }}" data-layout="button"></div>

      <div id="friends-box" style="display:none;">
        <br/>
        <p>Or, date one of your friends below:</p>
        <ul id="friends">
        </ul>
      </div>

      <br/>
      <a href="/logout" id="logout">Log out</a>
    </div>

    <script>
        document.getElementById('logout').onclick = function() {
            FB.logout(function(response) { });
        };
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/static/js/landing.js"></script>
</div>
{% endblock %}
